<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog AMF</title>
</head>
<body>
<html>
<html>
 <head>
 <title>AMF blog</title>
 </head>
 <body>

 </body>
<div>
 <h1><a href="/">AMF Blog</a></h1>
</div>
 <div>
 <p>published: {{ post.data_publicacao }}</p>
 <h1><a href="">{{ post.titulo }}</a></h1>
 <p>{{ post.texto|linebreaksbr }}</p>
 </div>

 <div class="content">
     <div>
         <h1><a>Comentários</a></h1>
         {% for comentario in comentarios %}
            <p>{{ comentario.autor.username }} </p>
            <p>{{ comentario.texto|linebreaksbr }} </p>
            <p>{{ comentario.data }} </p>
         {% endfor %}


</body>
</html>